<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Meows and Woofs</title>
</head>
<body>
  <div class="container">
    <div class="main">
      <div class="main1">
        <h1 class="cloud">Meows and Woofs</h1>
        <h3 class="tagline">Your friendly pet's products shop.</h3>
        <h2>Meows and Woofs provide you with the best pet products and food.</h2>
        <a href="/signup"><button class="shopbtn">Shop now</button></a>
      </div>
      <div class="main2">
        <img class="hero" src="./images/hero.png" alt="hero">
      </div>
    </div>
  </div>
</body>
</html>
